.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: linear-gradient(to right, #770f47, #fe7bb2);
    color: white;
    text-align: center;
  }
  
  .home-title {
    font-size: 3rem;
  }
  
  .home-subtitle {
    font-size: 1.5rem;
  }